export JAVA_HOME=/usr/lib/jvm/java-25-openjdk-amd64
export PATH="$JAVA_HOME/bin:$PATH"
export DOCKER_BUILDKIT=1

# for test non-conflict with Scafford reasons:
export COMPOSE_PROJECT_NAME=phrasal-b
export POSTGRES_PORT=5532
export FRONTEND_PORT=3100
export BACKEND_PORT=8180

# NVD checks
export MAVEN_OPTS="--sun-misc-unsafe-memory-access=allow"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

nvm install v26.3.1
nvm use v26.3.1
