{% for old_domain in redirect_domains %}
server {
    listen 80;
    listen 443 ssl;
    server_name {{ old_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    root /var/www/phrasal-construction;
    index index.html;

    location / {
        try_files $uri /index.html;
    }
}
{% endfor %}
