server {
    listen 80;
    listen 443 ssl;
    server_name phrasal.ddns.net;

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    return 444;
}
